<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalog</title>
    <link rel="icon" href="/static/images/logo.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='catalog.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Commissioner:200,300,400,500,600,700&display=swap">
  </head>
<body>
    <div class="container">
        <!-- Title Container -->
        <div class="title-container">
            <h1><a href="https://catalogscore.site" style="text-decoration: none; color: inherit;">Cata<span class="log">log</span> Score<span style="font-size: 25px;">.site</span></a></h1>
        </div>
        <!-- Navigation Bar -->
        <nav id="navbar">
            <ul>
                <li><a href="/"><span class="material-icons">home</span> Home</a></li>
                <!-- Add more list items as needed -->
                <li>
                    <!-- Catalog Form -->
                    <form id="catalogs-form" class="search-form" action="/catalog" method="post">
                        <label for="collection_name"></label>
                        <select name="collection_name" id="collection_name" class="select-box">
                            <!-- Options will be populated dynamically -->
                        </select>
                    </form>
                </li>
                <!-- Current Collection -->
                <li>Collection:<span id="current-collection"> </span> </li>
                    </ul>
        </nav>
    
        <!-- Toggle button with Google Fonts icon -->
        <button class="toggle-view-button" id="toggle-view-button" onclick="toggleView()">
            <span class="material-icons" title="Table View">table_view</span>
        </button>
        <button class="fetch-aggregate-scores-button" id="fetch-aggregate-scores-button" onclick="fetchAggregateScores()">
            <span class="material-icons" title="Aggregate Scores">data_usage</span>
        </button>
       
            <!-- Container for products -->
        <div id="product-container" class="container">
            <!-- Product tiles -->
            {% for product in catalog_data %}
            <div class="product-tile" id="product-{{ product._id }}">
                <img src="{{ product.image.url1.url }}" alt="Product Image">
                <h2>{{ product.title }}</h2>
                <p>Seller: {{ product.seller_name }}</p>
                <p> Product Score: {{ product.scores.total_score }}</p>
                <button class="details-button" onclick="showProductDetails('{{ product._id }}', '{{ collection_name }}')">Details</button>
            </div>
            {% endfor %}
        </div>
    

<!-- Modal for displaying aggregate scores -->
<div id="aggregate-scores-modal" class="score-modal">
    <div class="score-modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <div id="circle-container">
            <!-- Pie chart for aggregate scores will be displayed here -->
        </div>
    </div>
</div>
    </div>
    
    
    <!-- Product list -->
    <div id="product-list" class="product-list hidden">
        <table>
            <thead>
                <tr>
                    <th>Product Title</th>
                    <th>Product Score</th>
                </tr>
            </thead>
            <tbody>
                {% for product in catalog_data %}
                <tr>
                    <td><h2>{{ product.title }}</h2></td>
                    <td><p class="product-score">{{ product.scores.total_score }}</p></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
  </div>

  <!-- Product Modal -->
  <div id="product-modal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
          <div class="modal-header">
              <span class="close" onclick="closeProductModal()">&times;</span> <!-- Close icon -->
          </div>
          <div id="product-details-content">
              <!-- Product details will be displayed here -->
          </div>
      </div>
  </div>

  <script src="{{ url_for('static', filename='catalog.js') }}"></script>
</body>
</html>
